<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">codingSteve</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Our Collection of Templates &amp; Themes">Links <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://about.me/steve.powell"><i class="fa fa-globe fa-fw"></i>about me</a>
                        </li>
                        
                        <li class="divider"></li>
                        <li class="dropdown-header">
                            Favourites:
                        </li>
                        <li>
                            <a href="http://www.meetup.com/london-scala/"><i class="fa fa-star fa-fw"></i>London Scala Users Group</a>
                        </li>
                        <li>
                            <a href="https://en.wikipedia.org/wiki/Java_bytecode_instruction_listings">JVM bytecode instructions</a>
                        </li>
                        <li>
                            <a href="http://daringfireball.net/projects/markdown/index.text">Markdown reference</a>
                        </li>
                        <li>
                            <a href="https://coderwall.com/p/euwpig/a-better-git-log">Colourful git log</a>
                        </li>
                        <li>
                            <a href="http://www.content.gs.com/who-we-are/business-standards/business-principles/index.html">Business standards and principles</a>
                        </li>
                        <li>
                            <a href="http://www.theguardian.com/guardian-observer-style-guide-a">Writing style guide</a>
                        </li>
                    </ul>
                </li>
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="My github projects">Projects <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://github.com/codingSteve/bestcoders"><i class="fa fa-desktop fa-fw"></i>Main example project</a>
                        </li>
                        <li>
                            <a href="https://github.com/codingSteve/codingSteve.github.io"><i class="fa fa-list fa-fw"></i> Blog and notes</a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="/contact" title="Contact Steve">Contact</a>
                </li>
                <li>
                    <a href="https://docs.google.com/document/d/1i2L-7wAzgL6gqM_6DtiIKWQl7Uoxh0d8XJKcPudFDgs/edit?usp=sharing" title="CV">CV</a>
                </li>
            </ul>
            
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
