<div id="social">
    <iframe id="gh-fork" src="http://ghbtns.com/github-btn.html?user=codingsteve&repo=bestcoders&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="55px" height="20px"></iframe>
    <a href="https://twitter.com/codingSteve" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @codingSteve</a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url}}" data-via="codingSteve" data-lang="en">Tweet</a>
</div>